body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  /* padding: 1em 0; */
  /* text-align: center; */
  margin-top: auto;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
